<template>
  <!-- Top Navbar -->
  <f7-navbar small :sliding="false">
    <f7-navbar title="ກັບຄືນ" back-link="Back"></f7-navbar> 
  </f7-navbar>
</template>

<script>
export default {};
</script>

<style></style>
