<template>
  <f7-page name="addmnews">
        <f7-navbar small :sliding="false">
    <f7-navbar title="ກັບຄືນ" back-link="Back"></f7-navbar> 
  </f7-navbar>

<f7-list inline-labels no-hairlines-md>
  <f7-list-input
    label="ຫົວຂໍ້ຂ່າວ"
    type="text"
    placeholder="ຫົວຂໍ້ຂ່າວ"
    clear-button
    v-model:value="name"
  >
    <f7-icon icon="demo-list-icon" slot="media"></f7-icon>
  </f7-list-input>
            <div class="item-media">
              <i class="icon demo-list-icon"></i>
            </div>
            <div class="item-inner">
              <div class="item-title item-label">ປະເພດຂ່າວ</div>
              <div class="item-input-wrap input-dropdown-wrap">
               <select name="ປະເພດຂ່າວ" v-model="cat_id" >
          <option v-for="(item, i) in cats" :key="i" :value="item.id">
            {{ item.name }}
          </option>
        </select>
              </div>
            </div>
</f7-list>
  <f7-block-header>ຂຽນລາຍລະອຽດຂ່າວ</f7-block-header>
  <f7-text-editor
    placeholder="Enter text..."
    value=""
    @texteditor:change="(v) => customValue = v"
  >
  </f7-text-editor>
   <image-uploader
    :debug="1"
    :maxWidth="512"
    :quality="0.5"
    :autoRotate=true
    :preview=false
    :capture="false"
    accept="image/*"
    doNotResize="['gif', 'svg']"
    @input="setImage"
  ></image-uploader>

  <button @click="addnew()">ບັນທຶກ</button>
  </f7-page>
</template>

<script>
  import axios from 'axios';
  // import ImageUploader from 'vue-image-upload-resize';
  var url ="http://localhost:3000";
  export default {
  components: {
    // ImageUploader
  },
    data() {
      return {
        news: '',
        content:"ss",
        cats:'',
        cat_id:'',
        err:"",
        editor:"",
        image:"",
        hasImage:"",
        customValue:""
      };
    },
      props: {
      f7router: Object,
    },
    mounted(){
     

    },
    created(){
    this.getcat();

    },
    methods: {
      setImage: function (file) {
      console.log(file)
      this.hasImage = true
      this.image = file
      },
      getcat(){
          const _this = this;
         axios.defaults.headers.common['token'] =  localStorage.getItem('tk');
         axios.get(url+'/cat/', {})
          .then( function (response) {
            var mydata = response.data
            _this.cats = response.data
          })
          .catch(function (error) {
            console.log(error);
          });
      },
      addnew(){
           const _this = this;
         axios.defaults.headers.common['token'] =  localStorage.getItem('tk');
         //FIX  URL

          var data ={
          name :this.name,
          detail:this.customValue,
          pic:"https:///",
          file:"",
          catid:this.cat_id
          }
          console.log(data);

         axios.post(url+'/news/', data) 
          .then( function (response) {
            // var mydata = response.data
            // _this.cats = response.data
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    },
  }
</script>
<style scoped>
  .card-header{
    height:165px;
  }
</style>