<template>
  <f7-page name="catdetail">
    <!-- Top Navbar -->
    <f7-navbar small :sliding="false">
    <f7-navbar title="ກັບຄືນ" back-link="Back" ></f7-navbar> 
  </f7-navbar>
    <f7-block-title>{{cat}} </f7-block-title>
    <!-- Page content-->
    <f7-block strong>
      <f7-card v-for="d in news"  :key="d.id" class="demo-card-header-pic">
        <f7-card-header
          class="no-border"
          valign="bottom"
           v-bind:style="{
             'background-image': 'url('+d.pic+')'}"> 
          <img src="" alt="">
          </f7-card-header
        >
        <f7-card-content>
             <h2 v-html="d.name"></h2>
          <p class="date">{{d.date_f}}</p>
       
        </f7-card-content>
        <f7-card-footer> 
          <f7-link @click="shownewsdetail(d.id)" >ອ່ານເພີ່ມ</f7-link>
        </f7-card-footer>
      </f7-card>
    </f7-block>
  </f7-page>
</template>

<script>
  import axios from 'axios';
  import moment from 'moment';
  var url ="http://localhost:3000";
  export default {
    props: {
      f7router: Object,
    },
    data() {
      return {
        news: '',
        cat:'',
        err:""
      };
    },
    mounted(){
      console.log("mounted work!!! cat id")
      
    },
    created(){
        var id = localStorage.getItem('catid');
         this.Getnews(id);
          this. Getcat(id);//cat
         
    //  console.log(this.$f7route.params) 
    },
    methods: {
      Getnews(id) {
        const self = this;
         axios.defaults.headers.common['token'] =  localStorage.getItem('tk');
         //console.log(localStorage.getItem('tk'))
         axios.get(url+'/news/cat/by/'+id, {})
          .then( function (response) {
            console.log(response.data)
            var mydata =[] 
            response.data.forEach(element => {
              var tmp = element;
              tmp.date_f = moment(element.date).format("HH:mm:ss DD-MM-YYYY ");
              mydata.push(tmp);
            });
            self.news = mydata
          })
          .catch(function (error) {
            console.log(error);
          });
      },
      
      shownewsdetail(id){
        // console.log(id)
        this.f7router.navigate('/newsdetail/'+id);
        localStorage.setItem('newid', id);

      },
      // cat
      Getcat(id) {
        const self = this;
         axios.defaults.headers.common['token'] =  localStorage.getItem('tk');
         //console.log(localStorage.getItem('tk'))
         axios.get(url+'/cat/by/'+id, {})
          .then( function (response) {
      
            self.cat = response.data[0].name
            console.log(self.cat)
          })
          .catch(function (error) {
            console.log(error);
          });
      },
      
    },
  }
</script>
<style scoped>
  .card-header{
    height:165px;
  }
</style>