<template>
  <f7-page name="home">
    <!-- Left panel with cover effect-->
  <f7-panel left cover >
    <f7-view>
      <f7-page>
        <f7-navbar title="Left Panel"></f7-navbar> 
        <f7-navbar title="ເມນູ"></f7-navbar>
          
            <f7-list>
              <f7-list-item v-for="c in cats" :key="c.id" main-view panel-close link="#"  @click="Showcat(c.id)" >{{c.name}}</f7-list-item> 
              
              </f7-list>
              <f7-list>
              <f7-list-item title="ອອກລະບົບ" main-view panel-close link="/" @click="logout()" ></f7-list-item>
            </f7-list>
          
      </f7-page>
    </f7-view>
  </f7-panel>  
    <!-- Top Navbar -->
    <f7-navbar small :sliding="false">
      <f7-nav-left>
        <f7-link
          icon-ios="f7:menu"
          icon-aurora="f7:menu"
          icon-md="material:menu"
          panel-open="left"
        ></f7-link>
      </f7-nav-left>
      <f7-nav-title-small> ລະບົບລາຍງານຂ່າວ</f7-nav-title-small>
    </f7-navbar>
    <f7-block-title>ຂ່າວທັງຫມົດ </f7-block-title>
    <!-- Page content-->
    <f7-block strong>
      <f7-card v-for="d in news"  :key="d.id" class="demo-card-header-pic">
        <f7-card-header
          class="no-border"
          valign="bottom"
           v-bind:style="{
             'background-image': 'url('+d.pic+')'}"> 
          <img src="" alt="">
          </f7-card-header
        >
        <f7-card-content>
             <h2 v-html="d.name"></h2>
          <p class="date">{{d.date_f}}</p>
          
       
        </f7-card-content>
        <f7-card-footer> 
          <f7-link @click="shownewsdetail(d.id)" >ອ່ານເພີ່ມ</f7-link>
        </f7-card-footer>
      </f7-card>
    </f7-block>
  </f7-page>
</template>

<script>
  import axios from 'axios';
  import moment from 'moment';
  var url ="http://localhost:3000";
  export default {
    props: {
      f7router: Object,
    },
    data() {
      return {
        news: '',
        cats:"",
        err:""
      };
    },
    mounted(){
      console.log("mounted home work!!!")
      this.Getnews();
      this.Getcats();//cat
      
    },
    
    methods: {
      Getnews() {
        const self = this;
         axios.defaults.headers.common['token'] =  localStorage.getItem('tk');
         //console.log(localStorage.getItem('tk'))
         axios.get(url+'/news', {})
          .then( function (response) {
            var mydata =[] 
            response.data.forEach(element => {
              var tmp = element;
              tmp.date_f = moment(element.date).format("HH:mm:ss DD-MM-YYYY ");
              mydata.push(tmp);
            });
            self.news = mydata
          })
          .catch(function (error) {
            console.log(error);
          });
      },
      shownewsdetail(id){
        // console.log(id)
        this.f7router.navigate('/newsdetail/'+id);
        localStorage.setItem('newid', id);

      },
      //test panel
      Getcats() {
        const self = this;
        
         axios.defaults.headers.common['token'] =  localStorage.getItem('tk');
         //console.log(localStorage.getItem('tk'))
         axios.get(url+'/cat', {})
          .then( function (response) {
            self.cats=response.data
          })
          .catch(function (error) {
            console.log(error);
          });
      },
      Showcat(cid){

        this.f7router.navigate('/catdetail/'+cid);
         localStorage.setItem('catid', cid);

      },
      logout(){
         localStorage.removeItem('tk');
         localStorage.removeItem('catid');
         localStorage.removeItem('newid');
         this.f7router.navigate('/');          
      }
      
    },
  }
</script>
<style scoped>
  .card-header{
    height:165px;
  }
</style>