<template>
<f7-page no-toolbar no-navbar no-swipeback login-screen>
  
  <f7-login-screen-title> ສູນຄຸ້ມຄອງອິນເຕີເນັດ<br> ປກສ</f7-login-screen-title>
  <f7-list form>
    <f7-list-input
      label="ຊື່ຜູ້ໃຊ່"
      type="text"
      placeholder="ຊື່ເຂົ້າລະບົບ"
      :value="username"
      @input="username = $event.target.value"
    ></f7-list-input>
    <f7-list-input
      label="ລະຫັດຜ່ານ"
      type="password"
      placeholder="ລະຫັດຜ່ານ"
      :value="password"
      @input="password = $event.target.value"
    ></f7-list-input>
  </f7-list>
  <f7-list>
    <f7-block-footer> {{err}} </f7-block-footer>
    <f7-list-button @click="signIn"> ເຂົ້າສູ່ລະບົບ </f7-list-button>
    <f7-block-footer> ເຂົ້າບໍ່ໄດ້ລະບົບກະລຸນາຕິດຕໍ່ Admin </f7-block-footer>
  </f7-list>
</f7-page>
</template>
<script>
  import { f7 } from 'framework7-vue';
  import axios from 'axios';
  var url ="http://localhost:3000";

  export default {
    props: {
      f7router: Object,
    },
    data() {
      return {
        username: '',
        password: '',
        err:""
      };
    },
    mounted(){
      //this.checktoken();
    },
    methods: {
      signIn() {
        const self = this;
          
         axios.post(url+'/users/login', {
          "user": self.username,
          "pass": self.password
          })
          .then(function (response) {
            console.log();
            if(response.data.tk){
              localStorage.setItem('tk', response.data.tk);
              //document.cookie = "tk="+response.data.tk;
              //console.log(self)
              self.f7router.navigate('/home')
              //.$f7.router.navigate('/home/')
            }
            else
            {
              self.err = "ຜູ້ໃຊ້ ຫຼື ລະຫັດຜິດ"
            }
           

          })
          .catch(function (error) {
            console.log(error);
          });

       // 1. Input self.username self.password
       // 2. POST to API
       // 3. save token
       // 4. check token router home

        // f7.dialog.alert(`Username: ${self.username}<br>Password: ${self.password}`, () => {
        //   self.f7router.back();
        // });
      },
      checktoken(){
       const self = this;
        if(localStorage.getItem('tk')){
        
          //console.log(self.f7router);
          //console.log(localStorage.getItem('tk'));
          //self.f7router.navigate('/home')
        }
      }
    },
  }
</script>