<template>
  <f7-page name="home">
        <f7-navbar small :sliding="false">
    <f7-navbar title="ກັບຄືນ" back-link="Back"></f7-navbar> 
  </f7-navbar>
    <!-- <f7-block-title>ລາຍລະອຽດຂ່າວ</f7-block-title> -->
    <!-- Page content-->
    <f7-block strong>
      <f7-card  class="demo-card-header-pic">
        <f7-card-header
          class="no-border"
          valign="bottom"
           v-bind:style="{
             'background-image': 'url('+news.pic+')'}"> 
          <img src="" alt="">
          </f7-card-header>
        <f7-card-content>
          <p class="date"> ວັນທີ : {{news.date_f}}</p>
          <h1> {{news.name}}</h1>
           <p v-html="news.detail">
          </p>

        </f7-card-content>
      </f7-card>
      <h2>ສະແດງຄວາມຄິດເຫັນ</h2>


      <div  v-for="d in comments" :key="d.id" class="card demo-facebook-card">
        <div class="card-header">
          <div class="demo-facebook-avatar"><i class="fas fa-user fa-customsize" ></i></div>
          <div class="demo-facebook-name"> ຜູ້ໃຊ້ : {{d.user}}</div>
          <div class="demo-facebook-date"> ເວລາ: {{d.date_1}}</div>
        </div>
        <div class="card-content card-content-padding">
          <p v-html="d.comment"></p>
        </div>

      </div>
      

     <div>
         <f7-text-editor
                placeholder="Enter text..."
                :value="customValue"
                :buttons="[
                  ['bold', 'italic', 'underline', 'strikeThrough'],
                  ['orderedList', 'unorderedList']
                ]"
                @texteditor:change="(v) => customValue = v"
         ></f7-text-editor>
         <!-- <input type="text" v-model="sd" > -->
         <button class="col button button-fill color-blue" @click="addcoment">ເພີ່ມຄຳຄິດເຫັນ</button>
     </div>
    </f7-block>
  </f7-page>
</template>

<script>
  import axios from 'axios';
  import moment from 'moment';
  var url ="http://localhost:3000";
  export default {
    props: {
      f7router: Object,
    },
    data() {
      return {
        news: '',
        
        err:"",
        customValue:"",
        comments:""
      };
    },
    mounted(){
      console.log("mounted work!!!")
    //   console.log( this.f7router.views)

    //   this.Getnews();
    },
    created(){
        var id = localStorage.getItem('newid');
         this.Getnews(id);
         this.ShowcomentbyNewId();
    //  console.log(this.$f7route.params) 
    },
    methods: {
      Getnews(id) {
        const self = this;
      
         axios.defaults.headers.common['token'] =  localStorage.getItem('tk');
       
         axios.get(url+'/news/'+id, {})
          .then( function (response) {
            var mydata = response.data
                mydata.date_f = moment(response.data.date).format(" HH:mm:ss YYYY-MM-DD");
                self.news = response.data
          })
          .catch(function (error) {
            console.log(error);
          });
      },
      addcoment(){
        var _this =this;
        var mycomment = this.customValue;
        axios.defaults.headers.common['token'] =  localStorage.getItem('tk');
        axios.post(url+'/comments/',
             {
                comment : mycomment,
                nid: localStorage.getItem('newid')
            })
          .then( function (response) {
             _this.ShowcomentbyNewId();
            })
          .catch(function (error) {
            console.log(error);
          });
      },
      ShowcomentbyNewId(){
        var mycomment = this.customValue;
        var _this =this;
        axios.defaults.headers.common['token'] =  localStorage.getItem('tk');
        axios.get(url+'/comments/'+localStorage.getItem('newid'),{})
          .then( function (response) {
             // console.log(response)
              
              //  _this.comments=response.data   
               var mydata = []
              response.data.forEach(element => {
              var tmp = element;
              tmp.date_1 = moment(element.date).format("HH:mm:ss DD-MM-YYYY ");
              mydata.push(tmp);
              });              
                _this.comments= mydata                  
            })
          .catch(function (error) {
            console.log(error);
          });
      },
      

    },
  }
</script>
<style scoped>
  /* .card-header{
    height:165px;
  } */

.fa-customsize{
  font-size: 36px;
  color: #fff;
}
  
  .demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
    color: #fff;
  }
  .demo-card-header-pic .card-content-padding .date{
    color: #000000;
  }
  /*comment */
  .demo-facebook-card .card-header {
    display: block;
    padding: 10px;
    background-color: gray;
  }
  .demo-facebook-card .demo-facebook-avatar {
    float: left;
  }
  .demo-facebook-card .demo-facebook-name {
    margin-left: 44px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
  }
  .demo-facebook-card .demo-facebook-date {
    margin-left: 44px;
    font-size: 13px;
    color: #fff;
  }
</style>
