<template>
  <f7-page name="newsDetail">
    <Navbar />
    <Content />
  </f7-page>
</template>
<script>
import Navbar from "@/components/layouts/nav-back.vue";
import Content from "@/components/layouts/content.vue";
export default {
  name: "newsDetail",
  components: {
    Navbar,
    Content, 
  },
};
</script>
              