<template>
  <f7-app v-bind="f7params" >

  <!-- Left panel with cover effect-->
  <!-- <f7-panel left cover theme-dark>
    <f7-view>
      <f7-page>
        <f7-navbar title="Left Panel"></f7-navbar> 
        <f7-navbar title="ເມນູ"></f7-navbar>
          
            <f7-list>
              <f7-list-item v-for="c in cat" :key="c.id" view="#main-view" panel-close link="/catdetail/' "  @click="Showcat(c.id)" >{{c.name}}</f7-list-item> 
              <f7-list-item v-for="c in cat" :key="c.id" 
              link="/catdetail/"  view="#main-view" panel-close>{{c.name}}</f7-list-item> 
              </f7-list>
              <f7-list>
              <f7-list-item title="ອອກລະບົບ" view="#main-view" panel-close link="/" @click="logout()" ></f7-list-item>
            </f7-list>
          
      </f7-page>
    </f7-view>
  </f7-panel>   -->

  <!-- Your main view, should have "view-main" class -->
  <f7-view id="main-view" main class="safe-areas" url="/"></f7-view>


    <!-- Popup -->
    <f7-popup id="my-popup">
      <f7-view>
        <f7-page>
          <f7-navbar title="Popup">
            <f7-nav-right>
              <f7-link popup-close>Close</f7-link>
            </f7-nav-right>
          </f7-navbar>
          <f7-block>
            <p>Popup content goes here.</p>
          </f7-block>
        </f7-page>
      </f7-view>
    </f7-popup>

    
  </f7-app>
</template>
<script>
  import { ref, onMounted } from 'vue';
  import { f7, f7ready } from 'framework7-vue';
  import { getDevice }  from 'framework7/lite-bundle';
  import cordovaApp from '../js/cordova-app.js';

  import routes from '../js/routes.js';
  import store from '../js/store';

  ////khien pherm
  import axios from 'axios';
   var url ="http://localhost:3000";
  export default {
    setup() {
      const device = getDevice();
      // Framework7 Parameters
      const f7params = {
        name: 'news report', // App name
        theme: 'auto', // Automatic theme detection


        id: 'com.ccip.gov.la.newsReport', // App bundle ID
        // App store
        store: store,
        // App routes
        routes: routes,


        // Input settings
        input: {
          scrollIntoViewOnFocus: device.cordova && !device.electron,
          scrollIntoViewCentered: device.cordova && !device.electron,
        },
        // Cordova Statusbar settings
        statusbar: {
          iosOverlaysWebView: true,
          androidOverlaysWebView: false,
        },
      };
      // Login screen data
      const username = ref('');
      const password = ref('');

      const alertLoginData = () => {
        f7.dialog.alert('Username: ' + username.value + '<br>Password: ' + password.value, () => {
          f7.loginScreen.close();
        });
      }
      onMounted(() => {
        f7ready(() => {
          // Init cordova APIs (see cordova-app.js)
          if (device.cordova) {
            cordovaApp.init(f7);
          }

          // Call F7 APIs here
        });
      });

      return {
        f7params,
        username,
        password,
        alertLoginData,
      }
    },
    //khien pherm
   
    // data() {
    //   return {
        
    //     cat:'',
    //     err:""
        
    //   };
    // },
    // mounted(){
    //   console.log("mounted work!!!1111")
    //   this.Getcats();
      
    // },
    // methods: {
    //   Getcats() {
    //     const self = this;
        
    //      axios.defaults.headers.common['token'] =  localStorage.getItem('tk');
    //      //console.log(localStorage.getItem('tk'))
    //      axios.get(url+'/cat', {})
    //       .then( function (response) {
    //         self.cat=response.data
    //       })
    //       .catch(function (error) {
    //         console.log(error);
    //       });
    //   },
    //   Showcat(cid){
       
    //     //console.log(cid)
    //     //this.f7router.navigate('/catdetail/'+id);
    //      localStorage.setItem('catid', cid);

    //   },
    //   logout(){
    //      localStorage.removeItem('tk');     
         
    //   }
    // },
  }
</script>