/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #2200ff;
  --f7-theme-color-rgb: 34, 0, 255;
  --f7-theme-color-shade: #1d00d6;
  --f7-theme-color-tint: #4529ff;
}

/* Your app custom styles here */